{
  "apps/server/{src,test}/**/*.ts": ["yarn workspace @monorepo/server lint"],
  "apps/web/src/**/*.ts": ["yarn workspace @monorepo/web lint"],
  "apps/common/src/**/*.ts": ["yarn workspace @monorepo/common lint"]
}
